<!--html dos icones de vinculo com redes sociais-->

<section class="social-media-connections">
  <div class="icon-facebook box-icon">
    <i class="bi bi-facebook"></i>
  </div>

  <div class="icon-google box-icon">
    <img
      src="https://pngimg.com/uploads/google/google_PNG19635.png"
      alt="icone de referencia google"
      height="50px"
      width="50px"
    />
  </div>

  <div class="icon-linkedin box-icon">
    <img
      src="https://avatars.githubusercontent.com/u/185263467?v=4"
      alt="icone de referencia sts softwares"
      height="60px"
      width="57px"
    />
  </div>
</section>
