<section class="container-tela-login">
    <header class="header-tela-login">
        <section class="logtipo-tela-login">
            <img src="https://avatars.githubusercontent.com/u/185263467?v=4" alt="logotipo-sts-softwares" class="logotipo">
        </section>
    </header>
    <main class="main-tela-login">
        <section class="login-tela-login">
            <div class="title-login">
                <h2>Conecte-se</h2>
            </div>
            <div class="conection-sociais">
                <app-social-media-connections></app-social-media-connections>
            </div>
        </section>
    </main>
    <footer class="footer-tela-login">

    </footer>

</section>