<!--formulario de login do APP-->

<form class="formulario-login">
    <div class="email-tela-login input">
        <input class="inputs" type="text" placeholder="E-mail">
    </div>
    <div class="password-tela-login input">
        <input class="inputs" type="password" placeholder="Senha">
    </div>
    <div class="remember">
        <input type="checkbox">
        <label for="rememberMe">Lembre-se de mim</label>
    </div>
    <div class="btn">
        <button class="conecte-se" type="submit">Conecte-se</button>
    </div>
</form>